

.inline-edit {
    font-family: inherit;
    font-size: inherit;

    &__input {
        // border: none;
        outline: none;
        background: none;
        font-family: inherit;
        font-size: inherit;
        text-align: inherit;
        width: 100%;
    }

    &__text {
        
        width: 100%;

        &:hover{
            cursor: pointer;
        }

        &--title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &--body {
            white-space: pre-wrap;
        }
    }
}