//import partials
@import "../../../Partials/fonts";
@import "../../../Partials/mediaqueries";
@import "../../../Partials/colors";
@import "../../../Partials/mixins";


.infoblock {
    height: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        width: 50%;
    }

    &__title {
        color: $purple;
        margin-top: 20px;
        font-size: 20px;
        font-family: $headerStack;
        width: 200px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        @include tablet {
            font-size: 3vw;
            height: 4vw;
            width: 50%;
        }

        @include desktop {
            font-size: 40px;
            height: 50px;
        }
    }

    &__description {
        font-family: $fontStack;
        width: 90%;
    }

    &__button {
        @include button($purple, white);
        padding: 6px 12px;
        font-size: 18px;
    }
}