//import partials
@import "../../../Partials/fonts";
@import "../../../Partials/mediaqueries";
@import "../../../Partials/colors";


.infoblock {
    height: 300px;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        width: 50%;
    }

    &__title {
        color: $purple;
        margin-top: 20px;
        font-size: 20px;
        font-family: $headerStack;

        @include tablet {
            font-size: 3vw;
        }

        @include desktop {
            font-size: 40px;
        }
    }

    &__description {
        font-family: $fontStack;
        width: 90%;
    }
}