//import partials
@import "../../../Partials/fonts";
@import "../../../Partials/mediaqueries";
@import "../../../Partials/animations";
@import "../../../Partials/colors";

.newnote {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-top: 2px solid $purple;
    border-bottom: 2px solid $purple;
    padding-bottom: 30px;
    transition: all 0.5s ease;

    &__expand {
        &--false {
            justify-content: center;
            align-items: center;
            padding: 0;
            font-family: $headerStack;
            font-size: 20px;
            width: 250px;
            height: 50px;
            color: $purple;
            background-color: white;
            border: 2px solid $purple;
            border-radius: 10px;
            margin-top: 20px;
            box-shadow: 3px 3px 8px black;
            &:hover {
                transform: translateY(-5px); //raise a bit on hover;
            }
        }
    }

    &__title {
        
        font-size: 20px;
        text-align: center;
        font-family: $headerStack;
        color: $purple;

        &--true {
            margin-top: 15px;
        }
    }
}

.newnote-form {
    font-family: $fontStack;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    &__field {
        width: 80%;
        resize: none;
        margin: 10px 0;
        padding: 3px;
        font-family: $fontStack;
        border-radius: 5px;
        border: 1px solid black;
        

        &--true {
            border: 2px solid red;
        }
    }

    &__button {
        font-family: $headerStack;
        font-size: 20px;
        width: 150px;
        height: 50px;
        color: $purple;
        background-color: white;
        border: 2px solid $purple;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 3px 3px 8px black;

        transition: all 0.3s ease;
        &:hover {
            transform: translateY(-5px); //raise a bit on hover;
        }
    }
}

.shown {
    //depending on whether we have "true" or "false" appended the visibility changes
    &__false {
        display: none;
    }

    &__true {
        display: flex;
    }
}

.warning {
    //the warning text that appears
    &__text {
        color: red;
        font-family: $fontStack;
        font-weight:bold;
        margin-bottom: 10px;
    }
}